@font-face {
    font-family: 'FVAlmeloRegular';
    src: url('./fonts/fv_almelo-webfont.eot');
    src: url('./fonts/fv_almelo-webfont.eot') format('embedded-opentype'),
         url('./fonts/fv_almelo-webfont.woff') format('woff'),
         url('./fonts/fv_almelo-webfont.ttf') format('truetype'),
         url('./fonts/fv_almelo-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}

.logoimg {
    max-height: 100px;
}

a.nav-link,
h2 {
    font-family: 'FVAlmeloRegular'!important;
    font-weight: normal;
    font-style: normal;
    color: #1bcedf;
}

.navstyle {
    letter-spacing: 1px;
    font-size: large;
}

.h2style {
    font-size: 48px;
    letter-spacing: 2px;
}

.text-hover {
    color: #5b247a!important;
}

a.nav-link:hover {
    color: #5b247a;
}

.border-left,
.border-right {
    border-color: #1bcedf!important;
}